html {
  scroll-behavior: smooth;
}

a {
  display: inline-block;
}

section {
  padding-top: 32px;
  padding-bottom: 32px;

  @include desktop {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.container {
  @include container();

  @include desktop {
    max-width: $desktop-width + 20px;
    margin: 0 auto;
  }
}


