{% from 'common/njk/head.njk' import head %}
{% from 'common/njk/scripts.njk' import scripts %}

<!DOCTYPE html>
<html lang="uk">
{{ head('index', 'Спортивно-розважальний центр «LYNX»') }}

<body>
<div class="loader">
  <div class="lds-hourglass"></div>
</div>
{% include "components/header/header.njk" %}

{% include "components/about/about.njk" %}
{% include "components/games/games.njk" %}
{% include "components/prices/prices.njk" %}
{% include "components/gallery/gallery.njk" %}
{% include "components/team/team.njk" %}
{% include "components/partners/partners.njk" %}
{% include "components/contacts/contacts.njk" %}
<div class="contacts__map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d925.127746442368!2d33.62594805322749!3d49.01712133935615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d9ffb74e413445%3A0xf76b88ccb275f550!2z0YPQuy4g0JTQvtCx0YDQvtCy0L7Qu9GM0YHQutC-0LPQviwgNzMsINCT0L7RgNC40YjQvdC40LUg0J_Qu9Cw0LLQvdC4LCDQn9C-0LvRgtCw0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjA!5e0!3m2!1sru!2sua!4v1574062622286!5m2!1sru!2sua" allowfullscreen=""></iframe>
</div>
{% include "components/footer/footer.njk" %}

{{ scripts('index') }}
</body>

</html>
