.container__style {
  color: $color-brown;
  padding: 50px 20px;
  background-color: #fff;

  h2 {
    padding: 10px 0;
    font-size: 25px;
    color: black;
    font-weight: bold;
  }
}

.box {
  display: flex;
  flex-wrap: wrap;

  &-color {
    width: 100px;
    height: 100px;
    margin: 10px;
  }
}

.light {
  background-color: $color-light;
}

.gray {
  background-color: $color-gray;
}

.dark-blue {
  background-color: $color-blue-dark;
}

.blue {
  background-color: $color-blue;
}

.bg-red {
  background-color: $color-red;
}

.text-red {
  color: $color-red;
}

.title {
  font-size: $fontSize-large;
  font-weight: bold;
}

.sub-title {
  font-size: $fontSize-medium;
  font-weight: bold;
}

.h3 {
  font-size: $fontSize-medium;
}

.p {
  font-size: $fontSize-small;
}

.input {
  outline: none;
  padding: 20px 0;
  border-bottom: 1px solid $color-blue-10;

  &:hover {
    border-color: $color-red;
  }
}

.button-wrap {
  display: flex;
  justify-content: space-between;
}
