header.header
  .header__logo
  .hamburger twe
  ul.nav.header__nav
    li Головна сторінка
    li Галерея
    li Ціни
    li ігри
    li команда
    li Контакти
  .header__contacts
    a.phone(href="tel:+38068 911 3763") +38068 911 3763
    span  Телефон

