.btn {
  display: inline-block;
  color: $color-light;
  cursor: pointer;

  &--arrow {
    width: 40px;
    height: 40px;
    border: 1px solid $color-blue-brown;

    &:hover {
      border: none;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  &__callback {
    display: flex;
    justify-content: center;
    width: 256px;
    height: 64px;
    margin: 10px auto;
    padding-top: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.16em;

    background: url("/assets/images/btn-callback.svg") no-repeat;

    &:hover {
      background: url("/assets/images/btn-callback--active.svg") no-repeat;
    }
  }
}
