/* icomoon */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sword:before {
  content: "\e90b";
}
.icon-instagram:before {
  content: "\e900";
}
.icon-telegram:before {
  content: "\e901";
}
.icon-viber:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-avatar:before {
  content: "\e90c";
}
.icon-arrow-right:before {
  content: "\e904";
}
.icon-arrow:before {
  content: "\e905";
}
.icon-cupids-bow:before {
  content: "\e906";
}
.icon-fencing:before {
  content: "\e90d"
}
.icon-file:before {
  content: "\e907";
}
.icon-knot:before {
  content: "\e908";
}
.icon-laser:before {
  content: "\e909";
}
.icon-map:before {
  content: "\e90a";
}
.icon-play:before {
  content: "\e912";
}
.icon-phone1:before {
  content: "\e942";
}

.video {
  display: inline-block;
    width: 34px;
    height: 34px;
    background: url("/assets/images/play.png");
}

.icon {
  display: inline-block;
  width: 23px;
  height: 23px;
}

.laser {
  background: url("/assets/images/svg/laser.svg") no-repeat center;
}

