.tabs {
  display: flex;
  flex-direction: column;
  padding-top: 35px;

  &__content {
    flex-direction: column;
    padding: 30px 0;
    @include tablet {
      flex-direction: row;
    }
  }

  &__content-description {
    padding: 30px 0;

    @include tablet {
      max-width: 50%;
      padding-top: 0;
      margin-left: 30px;
      padding-bottom: 0;
      text-align: left;
    }

    .btn__callback {
      display: none;
    }
  }

  &__content-price {
    text-align: center;
    @include tablet {
      text-align: left;
    }

    p {
      color: $color-blue-light;
    }

    b {
      font-size: $fontSize-large;
    }
  }

  &__images {
    img {
      display: block;
      margin: auto;
    }

    @include tablet {
      max-width: 50%;
      width: 100%;
    }
  }
}

.tabs-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  margin-bottom: 40px;
  @include tablet {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
}

.tabs-btn {
  position: relative;
  display: flex;
  align-items: center;
  -webkit-appearance: none;
  padding: 10px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;

  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.9);

  cursor: pointer;
  outline: none;
  transition: 0.3s;

  &:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: calc(50% + 11px);
    right: 0;
    max-width: 64px;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    transform: scaleY(0) translateX(-50%);
    background-color: $color-red;
    transition: transform 0.3s;

    @include tablet {
      max-width: calc(64px / 2);
      bottom: -10px;
    }
  }

  &:first-child {
    margin-top: 0;
  }

  &:hover:not(.is-active) {
    color: rgba(255, 255, 255, 0.5);

    .tabs-btn__icon {
      color: rgba(255, 255, 255, 0.5);
    }
  }

  &.is-active {
    font-weight: bold;
    color: $color-red;

    &:after {
      transform: scaleY(1) translateX(-50%);
    }

    .tabs-btn__icon:before {
      font-size: 20px;
    }
  }

  @include tablet {
    margin-top: 0;
    margin-bottom: 20px;
  }

  &__icon {
    position: relative;
    padding-left: 30px;

    &:before {
      position: absolute;
      left: 0;
    }
  }
}
