<section class="about" id="about">
  <div class="container">
    <div class="about__description">
      <h1 class="title">Спортивно-розважальний центр</h1>
      <a href="/" class="header__logo">
        <img src="/assets/images/Logo.png" alt="logotype">
      </a>
      <p>- це чудове місце, де ви можете різноманітно і незабутньо провести свій час. Ми маємо 10
        річний досвід у сфері активного відпочинку. Працюємо з індивідуальним та корпоративним клієнтом.</p>
      <p><b>«LYNX»</b> - тренуйся, надихайся, перемагай!</p>
      <a href="tel:+380689113763" class="btn btn__callback">Зателефонувати</a>
    </div>
  </div>
  <img  class="about__img" src="/assets/images/bg-video.jpg" alt="Зображення">
</section>
