.games {
  .tabs-btn__icon:before {
    top: -5px;
  }
  @include mobile {
    .tabs-nav {
      flex-direction: row;
      flex-wrap: wrap;
    }

    .title-small {
      margin-top: 30px;
    }
  }
}
