<section class="games" id="games">
  <div class="container">
    <h2 class="title">Наші ігри</h2>
    <!-- list -->
    <div class="tabs games__tabs">
      <div class="tabs-nav">
        <button class="tabs-btn"><span class="tabs-btn__icon custom-icon-laser"></span>Лазертаг</button>
        <button class="tabs-btn"><span class="tabs-btn__icon custom-icon-cupids-bow"></span>Арчерітаг</button>
        <button class="tabs-btn"><span class="tabs-btn__icon custom-icon-sword"></span>Спортивний меч</button>
        <button class="tabs-btn"><span class="tabs-btn__icon custom-icon-fencing"></span>Середньовічний бій</button>
        <button class="tabs-btn"><span class="tabs-btn__icon custom-icon-history-dance"></span>Історичний танець</button>
      </div>
    </div>
    <!-- content -->
    <div class="tabs__content">
      <div class="tabs__images">
        <img src="/assets/images/gallery-tabs/laser.jpg" alt="lasertag">
      </div>
      <div class="tabs__content-description">
        <p>
          <b>Лазертаг</b> – високотехнологічна спортивна військово-тактична кібер гра, що проходить в
          реальному часі і просторі. Суть гри – ураження гравців безпечними лазерними пострілами із бластера шляхом
          попадання в сенсор суперника.
        </p>
        <div class="tabs__content-price">
          <h5 class="title-small">Ціна</h5>
          <p><b>&#8372;300</b> грн/год</p>
          <span class="text-small">* Від 2 до 15 осіб віком від 5 до 70 років</span>
        </div>
        <a href="tel:+38068 911 3763" class="btn btn__callback" target="_blank">Замовити гру</a>
      </div>
    </div>
    <div class="tabs__content">
      <div class="tabs__images">
        <img src="/assets/images/gallery-tabs/laser.jpg" alt="lasertag">
      </div>
      <div class="tabs__content-description">
        <p>
          <b>Арчерітаг</b> – безпечна битва на луках із з силою натягу до 14 кг і стрілами зі спеціальними наконечниками
          з
          піногуми. Для захисту обличчя та голови використовуються захисні маски.
        </p>
        <div class="tabs__content-price">
          <h5 class="title-small">Ціна</h5>
          <p><b>&#8372;300</b> грн/год</p>
          <span class="text-small">* Від 2 до 15 осіб віком від 5 до 70 років</span>
        </div>
        <a href="tel:+38068 911 3763" class="btn btn__callback" target="_blank">Замовити гру</a>
      </div>
    </div>
    <div class="tabs__content">
      <div class="tabs__images">
        <img src="/assets/images/gallery-tabs/laser.jpg" alt="lasertag">
      </div>
      <div class="tabs__content-description">
        <p>
          <b>Спортивний меч</b> – вид спортивного єдиноборства з використанням безпечної зброї – «спортивного меча» та
          «спортивного щита», виготовлених із полімерних матеріалів.
          Стрільба із спортивного та історичного лука по мішені на дальність і точність
        </p>
        <div class="tabs__content-price">
          <h5 class="title-small">Ціна</h5>
          <p><b>&#8372;300</b> грн/год</p>
          <span class="text-small">* Від 2 до 15 осіб віком від 5 до 70 років</span>
        </div>
        <a href="tel:+38068 911 3763" class="btn btn__callback" target="_blank">Замовити гру</a>
      </div>
    </div>
    <div class="tabs__content">
      <div class="tabs__images">
        <img src="/assets/images/gallery-tabs/laser.jpg" alt="lasertag">
      </div>
      <div class="tabs__content-description">
        <p>
          <b>Середньовічний бій</b> – фехтування холодною зброєю, яка має аналоги у в минулому. Техніка фехтування або
          аналогічна історичній (відновлюється по історичним підручникам) або розробляється заново (у спортивному
          варіанті
          історичного середньовічного бою).
        </p>
        <div class="tabs__content-price">
          <h5 class="title-small">Ціна</h5>
          <p><b>&#8372;300</b> грн/год</p>
          <span class="text-small">* Від 2 до 15 осіб віком від 5 до 70 років</span>
        </div>
        <a href="tel:+38068 911 3763" class="btn btn__callback" target="_blank">Замовити гру</a>
      </div>
    </div>
    <div class="tabs__content">
      <div class="tabs__images">
        <img src="/assets/images/gallery-tabs/laser.jpg" alt="lasertag">
      </div>
      <div class="tabs__content-description">
        <p>
          <b>Історичний танець</b> – відтворення танців минулих епох.
          Канатний парк та скалодром – вид спорту, що тренує всі групи мязів, розвиває витривалість, координацію та
          вольові якості
        </p>
        <div class="tabs__content-price">
          <h5 class="title-small">Ціна</h5>
          <p><b>&#8372;300</b> грн/год</p>
          <span class="text-small">* Від 2 до 15 осіб віком від 5 до 70 років</span>
        </div>
        <a href="tel:+38068 911 3763" class="btn btn__callback" target="_blank">Замовити гру</a>
      </div>
    </div>
    <a href="tel:+38068 911 3763" class="btn btn__callback" target="_blank">Замовити гру</a>
  </div>
</section>
