* {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
}

html,
body {
  height: 100%;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
