<header class="header" id="header">
  <div class="container">
    <div class="header-wrap">
      <a href="/" class="header__logo">
        <img src="/assets/images/Logo.png" alt="logotype">
      </a>
      <div class="header__nav-wrap">
        <nav class="header__nav" id="headerNav">
          <ul class="header__nav-items">
            <li class="is-active"><a href="#about" class="nav-link">Про нас</a></li>
            <li><a href="#games" class="nav-link">Ігри</a></li>
            <li><a href="#prices" class="nav-link">Ціни</a></li>
            <li><a href="#gallery" class="nav-link">Галерея</a></li>
            <li><a href="#team" class="nav-link">Наша команда</a></li>
            <li><a href="#partners" class="nav-link">Сертифікати</a></li>
            <li><a href="#contacts" class="nav-link">Контанти</a></li>
          </ul>
          {#
          TODO this block will need fixed
          <div class="header__nav-contacts">
            <a href="tel:+380689113763" class="phone"><b>+380 68</b> 911 37 63</a>
            <a href="mailto:Preador-sport@gmail.com">Preador-sport@gmail.com</a>
            <div class="language">
              Мова <button>UA</button> <button>EN</button>
            </div>
          </div>
          #}
        </nav>
      </div>
      <div class="header__contacts-phone">
        <span>Телефон</span>
        <a href="tel:+380689113763"><b>+380 68</b> 911 37 63</a>
      </div>
      <button class='hamburger hamburger--elastic' type='button' id='hamburger'>
        <span class="hamburger-box"></span>
        <span class="hamburger-inner"></span>
      </button>
    </div>
  </div>
</header>
