<section class="gallery" id="gallery">
  <h2 class="title">Галерея</h2>
  <div class="gallery__slick">
    <div><img class="gallery__img" src="assets/images/gallery/1-min.JPG" alt="Фото з галереї"></div>
    <div><img class="gallery__img" src="assets/images/gallery/2-min.JPG" alt="Фото з галереї"></div>
    <div><img class="gallery__img" src="assets/images/gallery/3-min.JPG" alt="Фото з галереї"></div>
    <div><img class="gallery__img" src="assets/images/gallery/4-min.JPG" alt="Фото з галереї"></div>
    <div><img class="gallery__img" src="assets/images/gallery/5-min.JPG" alt="Фото з галереї"></div>
  </div>
</section>
