<section class="gallery" id="gallery">
  <h2 class="title">Галерея</h2>
  <div class="gallery__slick">
    <div><img class="gallery__img" src="assets/images/gallery/1-min.jpg" alt=""></div>
    <div><img class="gallery__img" src="assets/images/gallery/2-min.jpg" alt=""></div>
    <div><img class="gallery__img" src="assets/images/gallery/3-min.jpg" alt=""></div>
    <div><img class="gallery__img" src="assets/images/gallery/4-min.jpg" alt=""></div>
    <div><img class="gallery__img" src="assets/images/gallery/5-min.jpg" alt=""></div>
  </div>
  {#<div class="gallery gallery_live">
    <figure class="gallery_content">
      <a href="#">
        <img src="/assets/images/gallery/1.jpg" alt="galley photo">
      </a>
    </figure>
    <button class="btn gallery_prev" disabled="disabled">Назад</button>
    <button class="btn gallery_next">Вперёд</button>
    <ul>
      <li>
        <button></button>
      </li>
      <li>
        <button></button>
      </li>
    </ul>
  </div>#}
</section>
