<section class="partners" id="partners">
  <div class="container">
    <h2 class="title">Наші сертифікати</h2>
    <div class="tabs partners__tabs">
      <div class="tabs-nav">
        {#
        TODO When will be this content, will need add
        <button class="tabs-btn is-active"><span class="tabs-btn__icon custom-icon-laser"></span>Партнери</button>
        #}
        <button class="tabs-btn is-active"><span class="tabs-btn__icon icon-file"></span>Наші сертифікати</button>
      </div>
    </div>
    {#
    TODO When will be this content, will need add
    Partners
    <div class="tabs__content">
      <div class="tabs__images">
        <img src="/assets/images/gallery-tabs/laser-min.jpg" alt="lasertag">
      </div>
      <div class="tabs__content-description">
        <h5 class="title-small">ДСОЦ "Горизонт",</h5>
      </div>
    </div>
    #}
    <!-- Certificate -->
    <div class="tabs__content">
      <div class="partners__slick">
        <div class="partners__content">
          <img class="partners__certificate-image" src="/assets/images/diplomas/6.jpg" alt="1-й Легион">
          <p class="partners__description">1-й Легион</p>
        </div>
        <div class="partners__content">
          <img class="partners__certificate-image" src="/assets/images/diplomas/1.jpg" alt="Ferrexpo">
          <p class="partners__description">Ferrexpo</p>
        </div>
        <div class="partners__content">
          <img class="partners__certificate-image" src="/assets/images/diplomas/2.jpg" alt="Команда небайдужих">
          <p class="partners__description">Команда небайдужих</p>
        </div>
        <div class="partners__content">
          <img class="partners__certificate-image" src="/assets/images/diplomas/3.jpg" alt="Антей">
          <p class="partners__description">Антей</p>
        </div>
      </div>
    </div>
    <a href="tel:+380689113763" class="btn btn__callback" target="_blank">Замовити гру</a>
  </div>
</section>
