<section class="partners" id="partners">
  <div class="container">
    <h2 class="title">Партнери та сертифікати</h2>
    <!-- list -->
    <div class="tabs partners__tabs">
      <div class="tabs-nav">
        <button class="tabs-btn"><span class="tabs-btn__icon custom-icon-laser"></span>Партнери</button>
        <button class="tabs-btn"><span class="tabs-btn__icon custom-icon-cupids-bow"></span>Наші сертифікати</button>
      </div>
    </div>
    <!-- content -->
    <div class="tabs__content">
      <div class="tabs__images">
        <img src="/assets/images/gallery-tabs/laser.jpg" alt="lasertag">
      </div>
      <div class="tabs__content-description">
        <h5 class="title-small">ДСОЦ "Горизонт",</h5>
      </div>
    </div>
    <div class="tabs__content">
      <div class="tabs__images">
        <img src="/assets/images/gallery-tabs/laser.jpg" alt="lasertag">
      </div>
      <div class="tabs__content-description">
        <h5 class="title-small">Ціна</h5>
      </div>
    </div>
    <a href="tel:+38068 911 3763" class="btn btn__callback" target="_blank">Замовити гру</a>
  </div>
</section>
