.content {
  flex: 1 0 auto;
  overflow: hidden;
  position: relative;
  padding: 150px 20px 50px;
  background: #00a3d4;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);

  &__text {
    font-size: rem(45px);
    color: #fff;
  }
}