<footer class="footer">
  <div class="footer__container">
    <div class="footer__top">
      <span class="footer__copy">2017 - 2019 Всі права захищені</span>
      <div class="footer__phone">
        <div class="footer__phone-title">По всім питанням дзвоніть</div>
        <a class="footer__phone-link" href="tel:+380689113763"><b>+380 68</b> 911 37 63</a>
      </div>
      <nav class="footer__social">
        <a class="footer__social-link icon-facebook" title="Facebook" href="https://www.facebook.com/fire.lynx.club/" target="_blank"><span>fb</span></a>
{#        <a class="footer__social-link icon-telegram" href="#"><span>tg</span></a>#}
        <a class="footer__social-link icon-instagram" title="Instagram" href="https://www.instagram.com/fire_lynx_club_" target="_blank"><span>in</span></a>
      </nav>
    </div>
    <a href="https://baronin.github.io/" class="footer__site">website by baronin.github.io</a>
  </div>
</footer>
