<section class="price" id="prices">
  <div class="container">
    <h2 class="title">Ціни</h2>
  </div>
    <table>
      <thead>
      <tr>
        <th>Назва гри</th>
        <th>Ціна</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <span class="icon-laser"></span>
          Лазертаг
        </td>
        <td class="price__text">150 грн/год</td>
      </tr>
      <tr>
        <td>
          <span class="icon-cupids-bow"></span>
          Арчерiтаг
        </td>
        <td class="price__text">Ціна договірна</td>
      </tr>
      <tr>
        <td>
          <span class="icon-sword"></span>
          Спортивний меч
        </td>
        <td class="price__text">Ціна договірна</td>
      </tr>
      <tr>
        <td>
          <span class="icon-fencing"></span>
          Середневiчний бiй
        </td>
        <td class="price__text">Ціна договірна</td>
      </tr>
      <tr>
        <td>
          <span class="icon-knot"></span>
          Історичний танець
        </td>
        <td class="price__text">Ціна договірна</td>
      </tr>
      </tbody>
    </table>
    <div class="btn-wrap">
      <a href="tel:+380689113763" class="btn btn__callback" target="_blank">Замовити гру</a>
    </div>

</section>
