<section class="price" id="prices">
  <div class="container">
    <h2 class="title">Ціни</h2>
    <table>
      <thead>
      <tr>
        <th>Назва гри</th>
        <th>Ціна</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <span class="icon-laser"></span>
          Лазертаг
        </td>
        <td>300 грн/год</td>
      </tr>
      <tr>
        <td>
          <span class="icon-cupids-bow"></span>
          Арчерiтаг
        </td>
        <td>34</td>
      </tr>
      <tr>
        <td>
          <span class="icon-sword"></span>
          Спортивний меч
        </td>
        <td>32</td>
      </tr>
      <tr>
        <td>
          <span class="icon-fencing"></span>
          Середневiчний бiй
        </td>
        <td>18</td>
      </tr>
      <tr>
        <td>
          <span class="icon-knot"></span>
          Історичний танець
        </td>
        <td>18</td>
      </tr>
      </tbody>
    </table>
    <div class="btn-wrap">
      <a href="tel:+38068 911 3763" class="btn btn__callback" target="_blank">Замовити гру</a>
    </div>
  </div>
</section>
