.contacts {
  a:hover {
    color: $color-red;
    transition: 0.5s;
  }

  &__info,
  &__address,
  &__email,
  &__time,
  &__city {
    margin-bottom: 40px;
  }

  // info
  &__info {
    padding: 30px 20px;
    text-align: center;
    background-color: $color-blue-dark;
  }

  &__city {
    position: relative;
    display: inline-block;
    margin-top: 30px;

    &:after {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 50%;
      right: 0;
      max-width: 64px;
      width: 100%;
      height: 2px;
      border-radius: 5px;
      transform: scaleY(1) translateX(-50%);
      background-color: $color-red;
      transition: transform 0.3s;
    }
  }

  // form
  &__form {
    position: relative;
    margin: 60px 15px;
    border: 3px solid $color-blue-dark;
  }

  &__email,
  &__phone {
    display: block;
  }

  &__phone {
    font-size: $fontSize-default + 4;
  }

  // contacts
  @include tablet {
    display: flex;
    padding-right: 20px;
    padding-left: 20px;

    &__info,
    &__form {
      margin: 0;
      padding: 0;
    }

    &__info {
      width: 100%;
      padding-right: 30px;
      text-align: left;
      background-color: transparent;
    }
    &__form {
      max-width: 500px;
      width: 100%;
    }
  }
  @include desktop {
    max-width: $desktop-width;
    margin: 0 auto;
    &__form {
      max-width: 650px;
      width: 100%;
    }
  }

  &__map {
    iframe {
      width: 100%;
      height: 300px;
      border: 0;
    }
  }
}

.form {
  padding: 40px 30px 0 30px;
  margin: 20px 0 20px 15px;
  background-color: $color-blue-dark;

  &__input,
  &__textarea {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: $color-white;
    border-bottom: 2px solid $color-gray-light;
    outline: none;

    &:hover {
      border-bottom-color: $color-red;
    }

    &::placeholder {
      color: white;
      opacity: 0.3;
    }
  }

  &__label,
  &__textarea {
    margin-bottom: 40px;
  }

  &__label {
    display: block;
    font-size: $fontSize-medium + 4;
    font-weight: bold;
    @include tablet {
      text-align: left;
      &:after {
        left: -54px;
        background-position: left;
      }
    }
  }

  &__input-wrap {
    @include desktop {
      display: flex;
    }
  }

  &__input {
    &:first-child {
      margin-top: 0;
    }

    @include desktop {
      display: inline-block;
      width: calc(50% - 20px);
      margin-top: 0;

      &:last-child {
        margin-left: auto;
      }
    }
  }

  &__btn {
    width: 230px;
    height: 145px;
    background: url("/assets/images/btn-send.svg") no-repeat;
    background-size: contain;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}
