<section class="contacts">
  <div class="contacts__info">
      <h2 class="title">Контанти</h2>
      <h3 class="contacts__city margin-bottom">м. Горишні Плавні</h3>
      <div class="contacts__icon-map margin-bottom">
        <a href="https://goo.gl/maps/84nAQcYNBeSpkkfeA"><span>icon</span></a>
        <p class="contacts__address">вулиця Добровольського, 73А, Горішні Плавні, Полтавська область, 39800</p>
      </div>
      <a class="contacts__email" href="tel:+380 68 911 37 63"><b>+380 68</b> 911 37 63</a>
      <a class="contacts__phone margin-bottom" href="mailto:Predator-sport@gmail.com">Predator-sport@gmail.com</a>
      <div class="contacts__time margin-bottom">
        <div>Cр-Пт: 12.00 - 20.00</div>
        <div>Сб-Вс: 09.00 - 20.00</div>
      </div>
      <nav class="footer__social">
        <a class="footer__social-link icon-facebook" title="Facebook" href="https://www.facebook.com/fire.lynx.club/"
           target="_blank"><span>fb</span></a>
        {#        <a class="footer__social-link icon-telegram" href="#"><span>tg</span></a>#}
        <a class="footer__social-link icon-instagram" title="Instagram" href="https://www.instagram.com/fire_lynx_club_"
           target="_blank"><span>in</span></a>
      </nav>
  </div>
  <div class="contacts__form">
    <form action="" class="form">
      <label class="form__label margin-bottom" for="">Зв’яжiться з нами</label>
      <div class="form__input-wrap">
        <input class="form__input" type="text" placeholder="Ім'я"  minlength="2" maxlength="16" required>
        <input class="form__input" type="tel" placeholder="Телефон"  minlength="9" maxlength="13" required>
      </div>
      <textarea class="form__textarea margin-bottom" name="" id="" wrap="soft" cols="1" rows="1" placeholder="Ваше питання чи повідомлення"></textarea>
      <button class="btn form__btn" type="submit"></button>
    </form>
  </div>
</section>
